<div class="container-fluid">
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <div class="container">

    <div class="content">
      <h1>Por que me apaixonei pelo desafio de aprender e criar?</h1>
      <h5>A programação é uma forma de expressar meu pensamento e minha criatividade.
        Sigo o princípio de Pareto: foco nos 20% das ações que geram 80% dos resultados. Assim, priorizo as tarefas que me fazem evoluir como profissional e como pessoa.</h5>
    </div>

    <div class="img-box">
      <img src="assets/logo.png" alt="" class="img">
    </div>
  </div>
</div>

<app-info></app-info>
