*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



.container{
  display: flex;
  flex-direction: column;
}
.container h1{
  color: aliceblue;
  text-align: center;
  font-family: georgia;
  text-transform: capitalize;
  padding-bottom: 2rem;
  
}

.about-box{
  padding: 1%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

}

.content{
  padding: 5px;
  display: flex;
}

.img-box{

  height: max-content;
}
.img{
  width: 400px;
  animation-name: img;
  animation-iteration-count: infinite;
  animation-delay: 1;
  animation-duration: 65s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  
  
}

.content-box{
  padding: 1em;
  color: white;
  font-size: 20px;
  width: 40rem;
  height: max-content;
}
.content-box h1{  
  color: rgb(252, 203, 139);
}



@media screen and (max-width: 800px) {
    *{
      padding: 0px;
      margin: 0px;
    }

  .container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
  }

  .content{

    display: flex;
    flex-direction: column;
  }

  .content{

    display: flex;
    flex-direction: column;
  }
  

  .content-box{
    width: 360px;
  }
  .content-box h1{
    text-align: center;
  }
  .content-box p{
    text-align: start;
  }

  .img{
    width: 300px;
  }
}

@keyframes img {
  0%{
    transform: translate(4px, 10%);
    transform: rotateZ(25deg);
  }

  50%{
  }

  100%{
    transform: translate(10px, 5%);
    transform: rotateZ(360deg);
  }
}