<div class="container">
  <!--<h1>Minha tragetória</h1>-->
  <div class="about-box">

    <div class="content">
      <div class="img-box">
        <img src="assets/stage1.png" alt="" class="img">
      </div>

      <div class="content-box">
        <h1>Estágio 1: Preparação</h1>

        <p> Como um desenvolvedor web, estou sempre buscando maneiras de aprimorar meu conhecimento e acompanhar o avanço tecnológico. Minha motivação vem da possibilidade de criar coisas incríveis e deixar minha marca na história. Aprendo de forma autodidata, pesquisando e assistindo a vídeos aulas, assim como a preparação minuciosa de um lançamento de foguete, visando a excelência e a segurança.</p>
        </div>
    </div>


    <div class="content">
      <div class="img-box">
        <img src="assets/stage2.png" alt="" class="img">
      </div>

      <div class="content-box">
        <h1>Estágio 2: Impulso</h1>

        <p>Minha habilidade em Angular, HTML e CSS são a força que me impulsiona para me tornar um excelente desenvolvedor web. Assim como o segundo estágio de um lançamento de foguete, onde o impulso é o que o faz subir aos céus. Estou sempre em busca de novos desafios e oportunidades de crescimento, como o bootcamp que estou iniciando na Practicum. Além disso, minha paixão pela música clássica e pelo universo são hobbies que me ajudam a manter o equilíbrio e a inspiração.</p>
      </div>      
    </div>

    <div class="content">
      <div class="img-box">
        <img src="assets/stage3.png" alt="" class="img">
      </div>

      <div class="content-box">
        <h1>Estágio 3: Órbita</h1>

        <p>Meu objetivo é estar em constante evolução e me adaptar às novas tecnologias, como um satélite que está em órbita. Quero seguir meus estudos para me tornar um engenheiro de software e, assim, alcançar um futuro próspero. Quero fazer a diferença na área de desenvolvimento, descobrindo novas tecnologias e soluções criativas para os desafios do mundo digital. Estou pronto para decolar rumo ao sucesso e para continuar minha jornada, assim como um foguete que segue em direção ao espaço.</p>
      </div>      
    </div>

  </div>
</div>