*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, li{
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  color: rgb(255, 255, 255);
  font-size: 22px;
  border: none;
  background-color: transparent;
  position: absolute;
  margin-right: 10px;
  display: none;

}

.menu{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #385A64;
}

nav{
  display: flex;
  height: max-content;
  gap: 2vh;
}

a:hover{
  color: rgb(6, 62, 126);
  background-color: #548391;
  opacity: 0.8;
}

@media (max-width: 900px) {

  a, li{
    width: 100%;
  }

  button{
    display: flex;
  }

  .menu{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #21383f;
    width: 100%;
    transition: 250ms ease-in;
  }

}

button:focus ~ nav{
  display: flex;
  position: relative;
  margin-top: 12vh;
}

.img-menu{
  width: 30px;
  height: 30px;
}
