<div class="container-fluid">
  <main class="main">

    <div class="mooimg">
      <img src="assets/moom.png" alt="Lua" class="moom">
    </div>

    <div class="title">

      <h1>Nós decidimos ir a Lua.</h1>

      <p>"Nós decidimos ir a Lua nesta década e fazer as outras coisas, não porque elas são fáceis, mas porque elas são difíceis"</p>

      <h5>Discurso de 25 de Maio de 1961, John F. Kennedy</h5>

    </div>

    

    <div class="redes">
      <a href="https://www.linkedin.com/in/rafael-sanches-s/">
        <img src="assets/linkedin.png" alt="LinkedIn" class="redes-logo">
      </a>

      <a href="https://www.behance.net/sanchesrafael">
        <img src="assets/behance.png" alt="Behance" class="redes-logo">
      </a>

      <a href="https://github.com/Sanches-Rafael">
        <img src="assets/github.png" alt="GitHub" class="redes-logo">
      </a>

    </div>


  </main>
</div>

<app-about></app-about>