.container-fluid{

  background-color: rgb(149, 197, 197);
  height: max-content;
  display: flex;
  flex-direction: column;
}
.menu{
  height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
button{
  display: none;
  position: absolute;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: rgb(2, 44, 24);
}

.med{
  margin-top: 2vh;
  height: 302px;
}

.content{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2vh;
}

.text{
  width: 700px;
  height: 250px;
}
.img{
  width: 300px;
  height: 300px;
}


@media screen and (max-width: 700px) {

  p{
    font-size: 18px;
  }
  .container-fluid{
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .med{
    display: flex;
    height: 445px;
  }

  .content{
    height: 320px;
    display: flex;
    flex-direction: column-reverse;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    column-gap: 2vh;


  }

  .text{
    width: 360px;
    margin-bottom: 5px;
  }

  .img{
    max-width: 150px;
    max-height: 150px;
  }
}


li p:hover{
  margin-top: 2px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  background-color: aliceblue;
  color: blue;
  border-radius: 2px;
}

button:focus ~ ul, .menu{
  display: flex;
  height: 150px;
}
