<div class="container-fluid">
  <div class="header">
    <div>
      <app-menu></app-menu>
    </div>

    <div class="med">
      <div class="content">

        <div class="text">
          <h1>A força da inovação: transformando códigos em obras de arte no universo web.</h1>
          <p class="txt">Em uma galáxia não tão distante, sou um desenvolvedor determinado a dominar as artes da tecnologia. Assim como os Jedi, busco sempre estar em constante evolução e me adaptar às mudanças do universo web.</p>
        </div>

        <div class="img-content">
          <img src="assets/logo.png" alt="Programação" class="img">
        </div>
      </div>
    </div>
  </div>
</div>

<app-info></app-info>
