<div class="container-fluid">

  <div class="logo">
    <a href=""><img src="assets/logo.gif" alt="Logo"></a>

  </div>

  <div class="redes">
    <a href="https://www.linkedin.com/in/rafael-sanches-s/" target="https://www.linkedin.com/in/rafael-sanches-s/">
      <img src="assets/linkedin.png" alt="LinkedIn" class="redes-img">
    </a>
    <a href="https://www.behance.net/sanchesrafael" target="https://www.behance.net/sanchesrafael">
      <img src="assets/behance.png" alt="Behance" class="redes-img">
    </a>
    <a href="https://github.com/Sanches-Rafael" target="https://github.com/Sanches-Rafael">
      <img src="assets/github.png" alt="GitHub" class="redes-img">
    </a>
  </div>
</div>
<div class="header container-fluid">

  <div class="content">
    <h1>Gerenciando a complexidade: a arte do desenvolvimento web</h1>

    <p>Assim como a entropia é uma medida da desordem em um sistema, acredito que a complexidade é uma parte fundamental do desenvolvimento web.</p>
  </div>

  <div class="img">
    <img src="assets/programing.png" alt="Programing" class="img">
  </div>
</div>


  <app-info></app-info>

