.container-fluid{
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
.redes{
  display: flex;
  gap: 1em;
  margin-right: 2%;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  gap: 1%;
  background-color: rgb(149, 197, 197);
}


.content{
  height: max-content;
  background-color: rgb(110, 160, 160);
  border-radius: 15em;
  padding: 55px;
}

.content h1{
  width: 650px;
}

.content p{
  font-size: 20px;
  font-family: Verdana;
  word-spacing: 2%;
  width: 660px;
}



.img{
  width: 400px;
  animation-name: img;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.redes-img{
  width: 30px;

}

@keyframes img {
  from{
    transform: translateY(5px);
  }
  to{
    transform: translateY(-5px);
  }

}

@media screen and (max-width: 1024px) {

  *{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
  }

  .container-fluid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .logo{
    display: flex;
  }

  .redes{
    display: flex;
  }

  .header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
    padding: 1px;
    height: min-content;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    padding: 3em;
  }

  .content h1 {
    width: min-content;
    text-align: start;
  }
  .content p {
    width: min-content;
    text-align: center;
  }

  .img{
    width: 250px;
  }

}
