.card-box{
  padding: 1vh;
  display: flex;
  align-items: center;
  gap: 1vh;
}

.img-box{
  width: min-content;
  height: 380px;
}

.cards{
  padding: 1vh;
  gap: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px rgb(128, 126, 126);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card{
  width: 150px;
  height: 150px;
  margin-top: 2px;
}

@media screen and (max-width: 1030px) {
  *{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
  }

  .card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-box{
    display: none;
  }

  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;
    padding: 0px;
  }
  .card{
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-card{
    width: 150px;
    height: 150px;
  }
}

.card:hover{
  border: 3px solid rgb(72, 117, 177);
  background-image: linear-gradient(rgb(173, 239, 255), rgb(214, 248, 250));
  box-shadow: 2px 2px rgb(0, 195, 255);
  animation-name: card;
  animation-duration: 450ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

@keyframes card {
  to{
  transform: translateY(15px);
  }

}
